<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref text="Atras" (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button [routerLink]="['menu']" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Administración</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="users" [routerLink]="['users']">
          <ion-icon name="people"></ion-icon>
          <ion-label>Usuarios</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="clients" [routerLink]="['clients']">
          <ion-icon name="business"></ion-icon>
          <ion-label>Clientes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="providers" [routerLink]="['providers']">
          <ion-icon name="cube"></ion-icon>
          <ion-label>Proveedores</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>
