<ion-content class="ion-padding">
  <div class="login-page">
    <div class="login-left">
      <div class="login-container">
        <div class="logo-wrapper" *ngIf="logoUrl">
          <img [src]="logoUrl" alt="Logo" class="logo" />
        </div>

        <h1 class="login-title">Crear Contraseña</h1>

        <form [formGroup]="loginForm" (ngSubmit)="setPassword()">
          <ion-item
            fill="solid"
            [class.invalid]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          >
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'"></ion-input>
            <ion-icon
              slot="end"
              [name]="showPassword ? 'eye-off' : 'eye'"
              (click)="togglePassword()"
              class="password-toggle"
            ></ion-icon>
          </ion-item>

          <ion-text
            color="danger"
            class="padding"
            *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
          >
            Campo requerido
          </ion-text>

          <!-- Mensajes de error para el password -->
          <div
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid && !loginForm.get('password')?.errors?.['required']"
          >
            <ion-text color="danger" class="padding" *ngIf="loginForm.get('password')?.errors?.['passwordLength']">
              La contraseña debe tener entre 8 y 16 caracteres<br />
            </ion-text>
            <ion-text color="danger" class="padding" *ngIf="loginForm.get('password')?.errors?.['passwordUppercase']">
              Debe contener al menos una letra mayúscula (A-Z)<br />
            </ion-text>
            <ion-text color="danger" class="padding" *ngIf="loginForm.get('password')?.errors?.['passwordLowercase']">
              Debe contener al menos una letra minúscula (a-z)<br />
            </ion-text>
            <ion-text color="danger" class="padding" *ngIf="loginForm.get('password')?.errors?.['passwordNumber']">
              Debe contener al menos un número (0-9)<br />
            </ion-text>
            <ion-text color="danger" class="padding" *ngIf="loginForm.get('password')?.errors?.['passwordSpecialChar']">
              Debe contener al menos un carácter especial (!&#64;#$%^&amp;*, etc.)<br />
            </ion-text>
            <ion-text color="danger" class="padding" *ngIf="loginForm.get('password')?.errors?.['passwordSpaces']">
              No puede contener espacios en blanco<br />
            </ion-text>
          </div>

          <ion-item
            fill="solid"
            [class.invalid]="
              loginForm.get('password_confirmation')?.invalid &&
              loginForm.get('password_confirmation')?.touched
            "
          >
            <ion-label position="floating">Confirma password</ion-label>
            <ion-input
              formControlName="password_confirmation"
              [type]="confirmPassword ? 'text' : 'password'"
            ></ion-input>
            <ion-icon
              slot="end"
              [name]="confirmPassword ? 'eye-off' : 'eye'"
              (click)="toggleConfirmPassword()"
              class="password-toggle"
            ></ion-icon>
          </ion-item>

          <ion-text
            color="danger"
            class="padding"
            *ngIf="loginForm.get('password_confirmation')?.errors?.['required'] && loginForm.get('password_confirmation')?.touched"
          >
            Campo requerido
          </ion-text>

          <ion-text
            color="danger"
            class="padding"
            *ngIf="loginForm.get('password_confirmation')?.errors?.['passwordMismatch'] && loginForm.get('password_confirmation')?.touched"
          >
            Las contraseñas no coinciden
          </ion-text>

          <ion-button expand="block" shape="round" color="primary" type="submit" [disabled]="isLoading()">
            @if (isLoading()) {
            <ion-spinner slot="start"></ion-spinner>
            } @else { Crear Contraseña }
          </ion-button>

          @if (error()) {
          <ion-text color="danger" class="padding">
            <p>{{ error() }}</p>
          </ion-text>
          }
        </form>
      </div>
    </div>
  </div>
</ion-content>
