.login-page {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.login-left {
  flex: 1 1 400px;
  max-width: 500px;
  padding: 2rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .logo {
    height: 50px;
    object-fit: contain;
  }
}

.login-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.password-toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

ion-item.invalid {
  --highlight-color-focused: #ef4444; // rojo para error
  --border-color: #ef4444;
}

@keyframes floatCard {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.padding,
ion-button {
  padding: 15px;
}
