.menu-button {
  --color: white;
  --background: transparent;
  --background-activated: var(--ion-color-primary-shade);
  --border-radius: 50%;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.9);
  }

  ion-icon {
    font-size: 1.8rem;
  }
}
